@import "tailwindcss";

.primary-bg {
  background-color: #19513b;
}

.primary-bg:hover {
  background-color: #0e3c2a;
}

.primary-text {
  color: #19513b;
}

button > * {
  cursor: pointer;
}

.custom-scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}